/war
/identity.key
/secret.key*
/queue.xml
/queue.xml.bak
/hudson.maven.MavenModuleSet.xml
/hudson.scm.CVSSCM.xml
/hudson.scm.SubversionSCM.xml
/hudson.tasks.Ant.xml
/hudson.tasks.Maven.xml
/workspace
/updates
/secrets
/jobs/*/builds/*/log
/jobs/*/lastStable
/jobs/*/lastSuccessful
/plugins/ant*
/plugins/cvs*
/plugins/ldap*
/plugins/javadoc*
/plugins/mailer*
/plugins/pam-auth*
/plugins/subversion*
/plugins/ssh-slaves*
/plugins/translation*
/plugins/maven-plugin*
/plugins/external-monitor-job*

