/war
/plugins/ant*
/plugins/cvs*
/plugins/ldap*
/plugins/javadoc*
/plugins/pam-auth*
/plugins/subversion*
/plugins/ssh-slaves*
/plugins/translation*
/plugins/maven-plugin*
/plugins/external-monitor-job*

